body {
  position: relative;

  margin: 0;
  padding: 0;
  color: gray;
  font-family: "Poppins", sans-serif;
}

.bodyBackground {
  position: fixed;
  /* background-image: url("./images/dog.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;*/
  min-height: 100vh;
  width: 100%;
  z-index: -10;
}

.dogImage {
  min-width: 100%;
  min-height: 100vh;
}

.sideBar {
  position: absolute;
  height: 100vh;
  width: 400px;
  background-color: #1a1b1f;
  opacity: 0;
  top: 0;
  left: -200;
  transition: all 0.5s ease-in-out;
}

.box1 {
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.insideBox1 {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insideBox1-1 {
  height: 100%;
  width: 100px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  cursor: pointer;
}
.small {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.small1 {
  height: 30px;

  color: white;
  display: flex;
  align-items: center;
  border-width: 3px;
  border-color: green;
  border-style: solid;
}

.sideBarContent {
  width: 85%;
  margin: auto;
}

.horizontalLine {
  background-color: gray;
  height: 1px;
  margin: 20px 0;
}

.mobileMenuList {
  list-style-type: none;
  padding: 0;
}

.mobileMenuList li {
  padding-bottom: 20px;
}

.threeBoxesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  color: white;
}

.threeBoxes {
  position: relative;
  background-color: #202328;

  height: 250px;
  margin: 0 15px;
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 1;
}

.threeBoxes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, rgba(78, 78, 78, 0), #000);
  opacity: 0;
  transition: all 1s;
  border-radius: 20px;
  z-index: -1;
}
.threeBoxes:hover::before {
  opacity: 0.1;
}
